/*This will show heading and ulist at the same time in the header*/
.header {
    margin:0;
    background-color: #ffffff;
    border-color:#cccccc;
    border-bottom: #cccccc;
    margin-bottom: 50px;
}

nav{
    float:right;
}
nav ul {
    margin:0;
    padding:0;
}

nav li{
    display:inline-block;
    margin:20px;
}

nav a {
    text-decoration: none;
    color:#444;
    text-transform: uppercase;
}


header::after {
    content:'';
    display:table;
    clear:both;
}


h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    float:left;
    background-color:#4aaaa5;
    color: white;
    width:fit-content;
    padding:20px;
    margin-left: 75px;
    text-transform: uppercase;

}

img {
    padding: 10px 10px 10px 0;
    float:left;
}

hr {
    color: #666666;
    width:600px;
    float: left;
}
p {
    padding:30px;  
}

.Aboutme {
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    width:650px;
    height:350px;
    background-color:white;
    float: left;
    margin-left:75px;
    margin-bottom: 50px;

}

.aside {margin-top:0;
    float: right;
}

body {
    background-image: URL(https://n6-img-fp.akamaized.net/free-vector/abstract-geometric-pattern-background_1319-242.jpg?size=338&ext=jpg)
}


.Connectme {margin-right: 50px;
    width:270px; 
    background-color: white;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    padding:0 20px 20px 20px;
    border:0;

}

    
footer {
    margin-top:20px;
    text-align: center;
    padding: 20px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #666666;

}

h2 {color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    padding: 20px;

}


#ch2 {color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    padding: 20px;

}

#hr2 {
    width: 250px;
    float:left;
    color:#666666;
}
section {
    line-height: 2;

}

#Contact {
    margin-right: 50px;
}